/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

/*Fonts*/



/*fade transition code*/
.fade-in-image { animation: fadeIn 2s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
 background-color: #2d260c; 
}

/* STYLE TEXT */

h1 {
  color: #eff1f0;
  text-align: center;
  padding-bottom:.5em;
  font-size:500%;
}

p{
  color:black;
  margin-left:0%;
  margin-right:0%;
  padding-left:0%;
  padding-right:0%;
  margin-up:0%;
  margin-bottom:0%;
  padding-up:0%;
  padding-bottom:0%;
  text-align:center

}

p1{
  color:#eff1f0;
  text-align:center;
  font-size:26px;
  
}

p2{
font-size: 40px;
color:#4f4516;
font-family:system-ui;
text-align:left;
float:left;
padding-left:10%;
padding-bottom:1em;
padding-top:.5em;
padding-right:0em;
}


p3{
  color:#a79b8d;
  float:left;
  font-size:20px;
  padding-left:15%;
  padding-right:0em;
  font-family:system-ui;
  line-height:1.5em;

}

p4{

  color:#4f4516;
font-family:system-ui;

}

p5{

}
p6{
  color:#2d260c;
}


/* STYLE IMAGES */
img{
  margin-top:3em;
  width: 80%;
  margin-bottom:1em;
  box-shadow: 10px 10px 5px #d1cac2;
}

.background {
  width: 100%;
  background-image: url("assets/trees.jpg");
  background-color: #c4cfc4;

  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  
  padding-top: 200px;
  padding-bottom: 200px;

  
}


/*seperation divs*/


#div1 {
  background-color:#eff1f0;
  width:50%;
  float:left;
  height:2000px;
  padding-up:4em;
}

#div2 {
  background-color:#eff1f0;
  width:50%;
  float:right;
  height:2000px;
  padding-up:4em;
}



/* STYLE NAV BAR */

ul {
list-style-type: none;
  background-color: #2d260c;
  overflow: hidden;
  padding: 3em;
  text-align:center;
}
li {
display:inline;
  
  /*makes it vertical*/
}

li a {
  text-decoration: none;
  color: #eff1f0;
  font-size: 220%;
  padding: 1em;
  font-family:system-ui;
  
}

li a:hover {
background-color: #48411e;
text-shadow: 2px 2px 4px #050505;
border-radius:4%;
  
}

.bottom {
  background: #2d260c;
  border-style:none;
  
  
  font-family: system-ui;
  text-align:center;
  font-size:20px;
  color:#eff1f0;

  padding: 50px;

  width:90%;



}

.emptySpace {
background-color:#eff1f0;
padding-top: 50px;
  
/* STYLE BUTTONS */

/* ADD MORE! */


  /*
@media screen
and (min-width: 320px)
and (max-width: 480px){
    p3{
      font-size: 1px;
       }
}

*/